
.productList {
    display: flex;
    justify-content: space-around
}

.productCard {

    background-color: #F0EAE4;
    width: 270px;

}

.addToCart {

    margin:10px;
}

.searchBar {
    margin: 10px;
    padding: 4px 0 4px 48px;
    outline: none;
    border: 1px solid #F0EAE4;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}